<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">

    <!-- 修改密码 -->
    <!-- Integer updatePassword(Integer id, String password, LocalDateTime gmtModifided) -->
    <update id="updatePassword">
        update
            user
        set
            password = #{password}, gmt_modified = #{gmtModifided}
        where
            id = #{id}
    </update>

    <!-- 修改个人信息  -->
    <!-- Integer updateInfoById(User user) -->
    <update id="updateInfoById">
        update
            user
        set
            phone=#{phone},email=#{email},
            gender=#{gender},gmt_modified=#{gmtModified}
        where
            id=#{id}
    </update>


    <!-- 按id查询用户记录 -->
    <!-- User findById(Integer id) -->
    <select id="findById" resultType="cn.tedu.store.entity.User">
        select
            id, username,
            password, phone,
            email, gender,
            `type`,
            gmt_create as gmtCreate, gmt_modified as gmtModified
        from
            user where id = #{id}
    </select>
</mapper>

